<div class="password_message">
[% l('Note: An email will be sent with instructions on resetting your password. You must have a valid email address associated with your library account. The reset email may take up to 30 minutes to arrive.<br />If you have any additional questions, please contact your local library for further assistance.'); %]
</div>
