#-------------- file marc_stream_importer.conf --------------

### user and group to become
user        opensrf
group       opensrf

### logging ?
log_file    Sys::Syslog
log_level   3
syslog_logsock unix
syslog_ident "marc_importer"
syslog_facility local1
pid_file    /openils/var/run/marc_stream_importer.pid

### access control
cidr_allow    10.250.10.0/24
cidr_allow    192.168.100.0/24
cidr_allow    132.174.2.0/24
cidr_allow    132.174.100.0/24

### background the process?
background  1
setsid      1

### ports to bind
# host        127.0.0.1
# port        localhost:20204
port       5544

### prefork settings
min_servers 3
max_servers 20
min_spare_servers 2
max_spare_servers 10
#-------------- file marc_stream_importer.conf --------------
