<tr>
    <td colspan="3">
        <p style="font-size: 120%;">
        <strong>
        Online payments are non-refundable. Patrons should make every effort to find and return lost items prior to payment.
        </strong>
        </p>
    </td>
</tr>
