<div class='rdetail_extras_div'> 
    <div style="margin-bottom:20px;"></div>

    <!-- Novelist suggestions-->
    [% IF ENV.OILS_NOVELIST_URL %] 
        <div id='novelist-loading'>[% l('No NoveList content is available for this item.') %]</div>
        <div data-novelist-novelistselect="[% attrs.isbn_clean || attrs.upc %]"></div>
    [% END %]

</div>

