<div class="lbl2">
[%- l('If you do not remember your password, please click the Forgot your password link or contact your library.'); %]
<p><b> Note:</b> Your username and password are both case-sensitive.</p>
</div>
